<!DOCTYPE html>
<html class="h-full" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Rough</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <section>
            <h2 class="font-bold text-2xl mb-2">In Progress</h2>
            <ul>
                <li v-for="assignment in assignments.filter(a => !a.complete)" :key="assignment.id">
                    <label>

                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
        </section>
        <section>
            <h2 class="font-bold text-2xl mb-2 mt-6">Completed</h2>
            <ul>
                <li v-for="assignment in assignments.filter(a => a.complete)" :key="assignment.id">
                    <label>

                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
        </section>
    </div>
</body>
<script>
    let app = {
        data() {
            return {
                assignments: [
                    { name: 'Finish Project', complete: false, id: 1 },
                    { name: 'Read Chapter 4 ', complete: false, id: 2 },
                    { name: 'Turn in homework', complete: false, id: 3 },
                ]
            }
        },
        methods: {
            toggle() {
                this.active = !this.active;
            }
        }
    };
    Vue.createApp(app).mount("#app");
</script>

</html>